.graph{
    height: 100vh;
}
.canvas .axis text {
    /*fill: #c1c5cd;*/
    fill: #51596f;
    /*fill: rgba(255, 255, 255, 0.6);*/
    /*font-weight: lighter;*/
}

.canvas path.domain,
.canvas .tick line {
    /*stroke: #cfd3db;*/
    stroke: #51596f;
    /*stroke: rgba(255, 255, 255, 0.6);*/
}

.hoverable.hovering{
    cursor: pointer;
}
